html,
body {
  height: 100%;
}

.main-activity {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

#img-exercise {
  width: 80%;
  max-width: 600px;
}

.control-buttons {
  text-align: center;
}

.buttons {
  display: flex;
}

.description {
  width: 60%;
}
