html,
body {
  height: 100%;
}

.main-activity {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 3px solid green;
}

.description {
  width: 60%;
}
